<ion-content [fullscreen]="true">
  <h1>Projet IoT (menu)</h1>
  <hr><hr><hr>
  <h3>Réseau privé</h3>
  <ion-list>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Adresse IP local" placeholder="192.168.1.20" [(ngModel)]="localIp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" labelPlacement="stacked" label="Token" placeholder="Entrer token" [(ngModel)]="localToken">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="connectToLocalDevice()">Connexion</ion-button>
  <hr><hr><hr>
  <h3>Réseau publique</h3>
  <ion-list>
    <ion-item>
      <ion-input label="Url" labelPlacement="stacked" placeholder="http://localhost:8000" [(ngModel)]="apiHost"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Login" labelPlacement="stacked" placeholder="Entrer login" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" labelPlacement="stacked" label="Mot de passe" placeholder="Entrer mot de passe" [(ngModel)]="password">
    œ   <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
  </ion-item>
</ion-list>
<ion-button expand="block" (click)="connectToRemoteDevice()">Connexion</ion-button>
<hr><hr><hr>
<h3>Bluetooth</h3>
<ion-button expand="block">Connexion</ion-button>

</ion-content>